[submodule "snippets/web-mode"]
	path = snippets/web-mode
	url = git@github.com:gausby/HTML5-YASnippet-bundle.git
[submodule "site-lisp/mg-elixir-snippets"]
	path = site-lisp/mg-elixir-snippets
	url = git@github.com:gausby/mg-elixir-snippets.git
