.DS_Store
*.elc
\#*
/el-get/
doc/*
bookmarks
backup
backup.*
backups
org-clock-save.el
ac-comphist.dat
tramp
elpa
var
eshell
ido.last
recentf
vendor
.cask
emms
url
auto-save-list
projectile-bookmarks.eld
projectile.cache
company-statistics-cache.el

smex-items
network-security.data

abbrev_defs
